body {
    font-family: Arial, sans-serif;
    background-color: rgb(184, 184, 184);
    color: rgb(255, 51, 0);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.images{
    display: flex;
    justify-content: space-evenly;
}

.images img{
    height: 30vh;
    min-width: 15vh;
    border-radius: 15px;
}

.header {
    background-color: rgb(255, 51, 0);
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 15px;
    margin-top: 20px;
}

#logoImg {
    width: 50px;
    vertical-align: middle;
}

h1 {
    display: inline;
    margin-left: 10px;
}

.postDiv {
    margin-bottom: 20px;
}

.postDiv img {
    height: 15px;
    margin-right: 5px;
}

.postLabel {
    margin-bottom: 5px;
    width: 150%;
}

input[type="text"],
select {
    width: 150%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

#postCategory{
    margin-left: 25%;
}

button img {
    height: 15px;
    margin-right: 5px;
}

button {
    background-color: rgb(255, 51, 0);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    background-color: rgb(97, 21, 2);
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.post p {
    margin: 0 0 10px 0;
}

.imageGroup {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.imageGroup img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 5px;
}

select {
    width: calc(50% - 20px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.buttonContainer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.imageContainer {
    position: relative;
    width: 100%;
}

.images img {
    display: none;
}

.images img:first-child {
    display: block;
}

.buttonImages button {
    margin: 5px;
    padding: 8px 12px;
    background-color: rgb(255, 51, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttonImages button:hover {
    background-color: rgba(255, 51, 0, 0.8);
}

